!!!
%html
  %head
    %script{ type: 'text/javascript', src: '/javascripts/jquery-3.3.1.min.js' }
    %script{ type: 'text/javascript', src: '/javascripts/bootstrap.min.js' }
    %script{ type: 'text/javascript', src: '/javascripts/application.js' }
    %link{ rel: 'stylesheet', href: '/stylesheets/bootstrap.min.css' }
    %link{ rel: 'stylesheet', href: '/stylesheets/application.css' }
    %link.site-icon{ rel: 'icon', href: '/images/site-icon.png' }
    %title Rails merged issue list
  %body
    .container-fluid.d-flex.h-100.p-absolute
      = yield
